@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");
@import "./_theme.scss";

body {
  font-family: "Roboto", sans-serif;
  color: white;
  fill: currentColor;
  background-color: #121212;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: white !important;
}
